@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root {
    --primary: #22D2A0;
    --secondary: #192824;
    --background: #192824;
    --green: #1FC11B;
    --yellow: #FFD913;
    --orange: #FF9C55;
    --red: #FF5555;
    --led-red:#ff007d;
    --led-green:#38FF12;
    --led-blue:#1700ff;
    --led-yellow:#FFF100;
    --led-ligth-blue:#87F9FC;
    --led-purpule:#CC83FF;
    
    --primary-font: 'Kanit', sans-serif;
    --logo-font: 'Audiowide', cursive;
  } 
  

body{
    background: #001437;
    font-family: 'Kanit', sans-serif;
  
}
