.play-mode-container{
    width:100%;
    height: 100vh;
    display: flex;   
    padding: 1rem;
}

.sequencer-container{
    width:50%;
    height: 100%;
    background: #4b4848;
    border-radius:  10px 0 0 10px;
    padding: 1rem 0;
}
.pads-container{
    width:50%;
    min-height: 100%;
    border-left: solid black 1px;
    background:#4b4848;
    border-radius:0  10px  10px 0;
    padding: 1rem 0;
}
.pads-grid{
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    background: none;
}
.single-pad{
    position: relative;
    width: 17%;
    border-radius: 5px;
    background: white;
    margin: 0.1rem;
}

.single-pad::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}



.sequencer-grid{
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    background: none;
}
.single-sequencer{
    position: relative;
    width: 13%;
    border-radius: 5px;
    background: grey;
    margin: 0.1rem;
}

.single-sequencer::after{
    content: "";
    display: block;
    padding-bottom: 135%;
}

.boxIsOn{
    opacity: 0.7;
}



/*----------- button colors---------- */
.green{
    border:1px solid #84FF6D;
    box-shadow: inset 0 0 3.5rem #38FF12;
    background:#CCFFC2;
    transition-property: box-shadow,border;
    transition-duration:  250ms
}
.green:active{
    box-shadow: inset 0 0 2.5rem #84FF6D;
    background:#fff;
}
.red{
    border:0.5px solid #FF81BF;
    box-shadow: inset 0 0 3.5rem #ff007d;
    background:#FFC8E3;
    transition-property: box-shadow,border;
    transition-duration: 250ms
}
.red:active{
    box-shadow: inset 0 0 2.5rem #FF81BF;
    background:#fff;
}
.blue{
    border:0.5px solid #8E83FF;
    box-shadow: inset 0 0 3.5rem #1700ff;
    background:#C8C2FF;
    transition-property: box-shadow,border;
    transition-duration: 250ms
}
.blue:active{
    box-shadow: inset 0 0 2.5rem #8E83FF;
    background:#fff;
}
.yellow{
    border:0.5px solid #FFF881;
    box-shadow: inset 0 0 3.5rem #FFF100;
    background:#FFFCC8;
    transition-property: box-shadow,border;
    transition-duration: 250ms
}
.yellow:active{
    box-shadow: inset 0 0 2.5rem #FFF881;
    background:#fff;
}
.ligth-blue{
    border:0.5px solid #00F5FB;
    box-shadow: inset 0 0 3.5rem #00F5FB;
    background:#C8FEFF;
    transition-property: box-shadow,border;
    transition-duration: 250ms
}
.ligth-blue:active{
    box-shadow: inset 0 0 2.5rem #87F9FC;
    background:#fff;
}
.purpule{
    border:0.5px solid #CC83FF;
    box-shadow: inset 0 0 3.5rem #9600FF;
    background:#E9C9FF;
    transition-property: box-shadow,border;
    transition-duration: 250ms
}
.purpule:active{
    box-shadow: inset 0 0 2.5rem #CC83FF;
    background:#fff;
}

.empty-center-of-box{
    background:none;
}

 .buttonOff{
} 

.buttonOn{
    
    border:2px solid rgba(255,255,255,0.5)
    
} 
.buttonOn:active{

}

.pad-icon{
     top:50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    position: absolute;
    background: none;
}
.pad-icon i{
    color: rgba(255, 255, 255, 0.849);
    background: none;
}




@media (max-width: 600px){
    .play-mode-container{
        flex-direction: column;
    }
    .sequencer-container{
        width:100%;
        height: 50%;
        border-radius:  10px   10px 0 0 ;
    }
    .pads-container{
        width:100%;
        min-height: 50%;
        border-left: none;
        border-top: solid black 1px;
        border-radius:0 0  10px   10px  ;
    }
}










