:root {
    --primary: #22D2A0;
    --secondary: #192824;
    --background: #192824;
    --green: #1FC11B;
    --yellow: #FFD913;
    --orange: #FF9C55;
    --red: #FF5555;
    --led-red:#ff007d;
    --led-green:#38FF12;
    --led-blue:#1700ff;
    --led-yellow:#FFF100;
    --led-ligth-blue:#87F9FC;
    --led-purpule:#CC83FF;
    
    --primary-font: 'Kanit', sans-serif;
    --logo-font: 'Audiowide', cursive;
  } 

.play-mode-container{
    width:100%;
    height: 100vh;
    display: flex;   
    padding: 1rem;
}

.play-mode-sequencer-container{
    width:50%;
    height: 100%;
    background: #4b4848;
    border-radius:  10px 0 0 10px;
    padding: 1rem 0;
}
.play-mode-pads-container{
    width:50%;
    min-height: 100%;
    border-left: solid black 1px;
    background:#4b4848;
    border-radius:0  10px  10px 0;
    padding: 1rem 0;
}
.play-mode-pads-grid{
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    background: none;
}
.play-mode-single-pad{
    position: relative;
    width: 17%;
    border-radius: 5px;
    background: white;
    margin: 0.1rem;
}

.play-mode-single-pad::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}



.play-mode-sequencer-grid{
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    background: none;
}
.play-mode-single-sequencer{
    position: relative;
    width: 13%;
    border-radius: 5px;
    background: grey;
    margin: 0.1rem;
}

.play-mode-single-sequencer::after{
    content: "";
    display: block;
    padding-bottom: 135%;
}

.play-mode-boxIsOn{
    opacity: 0.7;
}



/*----------- button colors---------- */
.green{
    border:1px solid #84FF6D;
    box-shadow: inset 0 0 3.5rem #38FF12;
    background:#CCFFC2;
    transition-property: box-shadow,border;
    transition-duration:  250ms
}
.green:active{
    box-shadow: inset 0 0 2.5rem #84FF6D;
    background:#fff;
}
.red{
    border:0.5px solid #FF81BF;
    box-shadow: inset 0 0 3.5rem #ff007d;
    background:#FFC8E3;
    transition-property: box-shadow,border;
    transition-duration: 250ms
}
.red:active{
    box-shadow: inset 0 0 2.5rem #FF81BF;
    background:#fff;
}
.blue{
    border:0.5px solid #8E83FF;
    box-shadow: inset 0 0 3.5rem #1700ff;
    background:#C8C2FF;
    transition-property: box-shadow,border;
    transition-duration: 250ms
}
.blue:active{
    box-shadow: inset 0 0 2.5rem #8E83FF;
    background:#fff;
}
.yellow{
    border:0.5px solid #FFF881;
    box-shadow: inset 0 0 3.5rem #FFF100;
    background:#FFFCC8;
    transition-property: box-shadow,border;
    transition-duration: 250ms
}
.yellow:active{
    box-shadow: inset 0 0 2.5rem #FFF881;
    background:#fff;
}
.ligth-blue{
    border:0.5px solid #00F5FB;
    box-shadow: inset 0 0 3.5rem #00F5FB;
    background:#C8FEFF;
    transition-property: box-shadow,border;
    transition-duration: 250ms
}
.ligth-blue:active{
    box-shadow: inset 0 0 2.5rem #87F9FC;
    background:#fff;
}
.purpule{
    border:0.5px solid #CC83FF;
    box-shadow: inset 0 0 3.5rem #9600FF;
    background:#E9C9FF;
    transition-property: box-shadow,border;
    transition-duration: 250ms
}
.purpule:active{
    box-shadow: inset 0 0 2.5rem #CC83FF;
    background:#fff;
}

.empty-center-of-box{
    background:none;
}

 .buttonOff{
} 

.buttonOn{
    
    border:2px solid rgba(255,255,255,0.5)
    
} 
.buttonOn:active{

}

.play-mode-pad-icon{
     top:50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    position: absolute;
    background: none;
}
.play-mode-pad-icon i{
    color: rgba(255, 255, 255, 0.849);
    background: none;
}

.play-mode-toggle-h2{
    text-align: center;
    margin: 1rem  1rem 0 1rem;
    font-size: 1.5rem;
    color: var(--led-ligth-blue);
    text-shadow: inset 0 0 2px var(--led-purpule);
    font-family: var(--logo-font);
}

.toggle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.toggle-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* height: 100%; */
}
.toggle-div-text{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: var(--primary-font);
}
.toggle-div-text p:nth-child(1){
    color:var(--led-ligth-blue);
    font-size: 1.2rem;
    text-shadow: 0 0 1px var(--led-red);
}
.toggle-div-text p:nth-child(2){
    color:var(--led-red);
    text-shadow: 0 0 1px black;
    font-size: 1.2rem;
}

.play-mode-button{
    box-shadow: 0px 0px 10px 2px var(--led-blue);
    text-transform: uppercase;
     font-weight: bold;
     background: var(--led-ligth-blue);
     font-size: 1rem;
     font-size: 1.2rem;
    border-radius:5px;
    font-family: var(--logo-font);
     padding: 0.3rem 0.5rem;
     border: none;
     transition: 0.4s all;
}

.play-mode-button:hover{
 box-shadow: 0px 0px 10px 2px var(--led-ligth-blue);
 background: var(--led-ligth-blue);
}
.play-mode-button:active{
 box-shadow: 0px 0px 20px 2px var(--led-ligth-blue);
 background: #b5fdff;
}

.play-mode-selector{
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px var(--led-blue);
    text-transform: uppercase;
     font-weight: bold;
     background: var(--led-ligth-blue);
     /* font-size: 1rem; */
     font-size: 1.2rem;
    border-radius:5px;
    font-family: var(--logo-font);
     padding: 0.3rem 0.5rem;
     border: none;
     transition: 0.4s all;
     outline: none;
}

.exit-play-mode{
    float: left;
    /* border: 2px solid var(--primary); */
    color: #192824;
    /* margin-bottom: -10; */
    font-family: var(--primary-font);
    /* padding: 0.1rem; */
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px var(--led-red);
    text-transform: uppercase;
    font-weight: bold;
    border-color: var(--red);
    background: var(--led-red);
    transition: 0.5s all;
}
.exit-play-mode:hover{
    box-shadow: 0px 0px 10px 2px var(--red);
    background: var(--red);
    color: white;
}
.exit-play-mode:active{
    box-shadow: 0px 0px 20px 2px var(--red);
    background: white;
    color: var(--red);
}
  
@media (max-width: 600px){
    .play-mode-container{
        flex-direction: column;
    }
    .play-mode-sequencer-container{
        width:100%;
        height: 50%;
        border-radius:  10px   10px 0 0 ;
    }
    .play-mode-pads-container{
        width:100%;
        min-height: 50%;
        border-left: none;
        border-top: solid black 1px;
        border-radius:0 0  10px   10px  ;
    }

    .play-mode-button{
        font-size: 0.8rem;
        padding: 0.1rem;
    }
    .play-mode-selector{
        font-size: 0.8rem;
        padding: 0.1rem;
height: auto;

    }
    .play-mode-toggle-h2{
font-size: 1rem;
padding: 0;
margin: 0.25rem 1rem 0 1rem ;
    }
    .toggle{
        margin-top: 0.2rem;
    }
.toggle-div-text p:nth-child(1){
    font-size: 0.8rem;
}
.toggle-div-text p:nth-child(2){
    font-size: 0.8rem;
}
}










