
  .home-main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    /* margin-top:5rem;  */
    padding: 1em;
    padding-top: 5rem;
}
.home-section{
    cursor: pointer;
    max-width: 380px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    box-shadow: 0 .15em .175em hsla(0,0%,0%,.1);
    margin: 1em;
    transition: 0.4s all;
    overflow: hidden;
    border: 1px solid #22d2a079;
  }

  .home-section:hover {
    animation: shadow-wave 10s linear infinite;
    box-shadow: 0px 0px 8px var(--led-ligth-blue);
  }

  .home-figure-img{
    height: 12.5em;
  }
  
  .home-article{
    padding: 0.5em 1rem;
  }
  
  /* IMAGE */
  .home-img{
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  
  /* TYPOGRAPHY */
  .home-h3{
    font-size: 2em;
    letter-spacing: -.01em;
    line-height: 1;
    margin: 0.1em 0;
    text-shadow: 0px 0px 1px var(--led-green);
    font-family: var(--primary-font);
    color: var(--led-ligth-blue);
  }
  .home-span{
    /* text-transform: uppercase; */
    color: var(--led-purpule);
    font-size: 0.75em;
    font-family: var(--logo-font);
  }
  
  
  @supports (display: grid){
    @media only screen and (min-width: 768px){
      home-main{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-gap: 1.5em;
        max-width: 1140px;
        padding: 1.5em;
      }
  
      section{
        margin: 0;
      }
    }
  }