
  .home-main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    /* margin-top:5rem;  */
    padding: 1em;
}
.home-section{
    cursor: pointer;
    max-width: 380px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 .15em .175em hsla(0,0%,0%,.1);
    margin: 1em;
    transition: 0.4s all;
    overflow: hidden;
    border: 1px solid #22d2a079;
  }

  .home-section:hover {
    animation: home-shadow-wave 10s linear infinite;
    box-shadow: 0px 0px 8px var(--led-ligth-blue);
  }


  @keyframes home-shadow-wave {
    0% {
      border: 1px solid var(--primary);
      box-shadow: 0px 0px 8px var(--primary);
    }
    20% {
      border: 1px solid var(--led-ligth-blue);
      box-shadow: 0px 0px 8px var(--led-ligth-blue);
    }
    40% {
      border: 1px solid var(--led-yellow);
      box-shadow: 0px 0px 8px var(--led-yellow);
    }
    60% {
        border: 1px solid var(--led-red);
        box-shadow: 0px 0px 8px var(--led-red);
    }
    80% {
         border: 1px solid var(--led-blue);
         box-shadow: 0px 0px 8px var(--led-blue);
    } 
    100% {
      border: 1px solid var(--primary);
      box-shadow: 0px 0px 8px var(--led-ligth-blue);
    }
     
  }


  .home-figure-img{
    height: 12.5em;
  }
  .home-figure-text{
    /* height: 4em; */
  }
  .home-article{
    padding: 0.5em 1rem;
  }
  
  /* IMAGE */
  img{
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  
  /* TYPOGRAPHY */
  .home-h3{
    font-size: 2em;
    letter-spacing: -.05em;
    line-height: 1;
    margin: 0.1em 0;

    text-shadow: 0px 0px 2px var(--led-green);
    color: white;
    font-size: 1.rem;
    font-family: var(--primary-font);
  }
  p{
    line-height: 1.4;
  }
  span{
    color: #bbb;
    font-size: .75em;
    text-transform: uppercase;
    word-spacing: .0625em;
  }
  
  @supports (display: grid){
    @media only screen and (min-width: 768px){
      home-main{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-gap: 1.5em;
        max-width: 1140px;
        padding: 1.5em;
      }
  
      section{
        margin: 0;
      }
    }
  }