@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.signin-top{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 123;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  overflow: hidden;
}
.signin-container {
    /* color: var(--primary); */
    /* z-index:2 ; */
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--background);
    /* position: absolute; */
    width: 40%;
    height: 80vh;
    /* top:50%; */
    /* left: 50%;  */
    /* transform: translate(-50%, -50%); */
    padding: 15px;
    color: var(--primary);
    /* margin: calc(50vh - 30px) auto 0 auto; */
    border: 3px solid var(--primary);
    border-radius: 25px;
    padding: 2.5rem;
  }
  
  .signin-container:hover {
    animation: shadow-wave 10s linear infinite;
  }
  
  
  @keyframes shadow-wave {
    0% {
      border: 3px solid var(--primary);
    }
    20% {
      border: 3px solid var(--red);
    }
    40% {
      border: 3px solid var(--orange);
    }
    60% {
      border: 3px solid var(--yellow);
    }
     80% {
      border: 3px solid var(--green);
    } 
    100% {
      border: 3px solid var(--primary);
    }
     
  }
  
  
  
  
  
  
  
  
  :root {
    --primary: #22D2A0;
    --secondary: #192824;
    --background: #192824;
    --green: #1FC11B;
    --yellow: #FFD913;
    --orange: #FF9C55;
    --red: #FF5555;
    --led-red:#ff007d;
    --led-green:#38FF12;
    --led-blue:#1700ff;
    --led-yellow:#FFF100;
    --led-ligth-blue:#87F9FC;
    --led-purpule:#CC83FF;
    
    --primary-font: 'Kanit', sans-serif;
    --logo-font: 'Audiowide', cursive;
  } 

  
  .signin-container-p {
    font-size: 1rem;
    font-family:  var(--primary-font);
    letter-spacing: 0.5px;
    margin-bottom: 10px;
  }
  
  .signin-container-h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: var(--logo-font);
    font-weight: bold;
  }
  .signin-container-h2 {
      text-shadow: 0px 0px 20px var(--led-red);
      text-align: center;
    /* text-transform: uppercase; */
    color:var(--red);
    font-size: 3rem;
    /* font-family: var(--logo-font); */
    /* font-weight: bold; */
  }
  .signin-container-h3 {
    text-shadow: 0px 0px 5px var(--led-green);
    color: white;
    font-size: 1.25rem;
    font-family: var(--primary-font);
    /* font-weight: bold; */
  }
  

  .signin-container .signin-input{
    cursor: pointer;
    font-family: var(--primary-font);
    color: #333;
    font-size: 1rem;
      margin: 0 auto;
    padding: 0.3rem 0.5rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 100%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
  .signin-container .selector{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    

  .signin-container-label{
      font-size: 1.25rem;
      margin-bottom: 5px;
  }
  #upload-sound {
    cursor: pointer;
    color: #22D2A0;
    width: 50%;
    font-size: 1.2rem;
  }

  .signin-container-button{
     box-shadow: 0px 0px 10px 2px var(--led-blue);
     text-transform: uppercase;
      font-weight: bold;
      background: var(--led-ligth-blue);
      font-size: 1rem;
      font-size: 1.2rem;
     border-radius:5px;
     font-family: var(--logo-font);
      padding: 0.3rem 0.5rem;
      border: none;
      transition: 0.4s all;
 }

 .signin-container-button:hover{
  box-shadow: 0px 0px 10px 2px var(--led-ligth-blue);
  background: var(--led-ligth-blue);
}
.signin-container-button:active{
  box-shadow: 0px 0px 20px 2px var(--led-ligth-blue);
  background: #b5fdff;
}

/* .signin-container-button{
    font-size: 1rem;
} */

  @media (max-width: 680px){
    .signin-container{
        width: 90%;
        height: 80vh;
    }
    .signin-container-p {
        font-size: 1rem;
        font-family: var(--primary-font);
        letter-spacing: 0.5px;
        margin-bottom: 10px;
      }
      
      .signin-container-h2 {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-family: var(--primary-font);
        font-weight: bold;
      }
      .signin-container-h3 {
        /* text-transform: uppercase; */
        font-size: 1.1rem;
        
        font-family: var(--primary-font);
      }
      .signin-container .selector{
        width: 100%;
     flex-direction: column;
        justify-content: space-between;
      }
      .signin-container .selector .signin-input{
        width: 70%;
    }
  }
  
  @media (max-height: 600px){
    .signin-input{
  height: 25px;
    }
    .signin-container{
      width: 60%;
      height:90vh;
      padding: 1rem 2rem;

  }
  .signin-container-button{
    font-size: 0.7rem;
  }
  }