
.search-sound-top{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 123;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    overflow: hidden;
  }
  .search-sound-container {
      /* color: var(--primary); */
      z-index:2 ;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: var(--background);
      position: absolute;
      width: 70%;
      height: 80vh;
      top:50%;
      left: 50%; 
      transform: translate(-50%, -50%);
      padding:0 15px 15px 15px;
      color: var(--primary);
      /* margin: calc(50vh - 30px) auto 0 auto; */
      border: 1px solid var(--primary);
      border-radius: 10px;
      padding: 2.5rem;
    }
    
    .search-sound-container:hover {
      animation: shadow-wave 10s linear infinite;
    }
    
    
    @keyframes shadow-wave {
      0% {
        border: 3px solid var(--primary);
      }
      20% {
        border: 3px solid var(--red);
      }
      40% {
        border: 3px solid var(--orange);
      }
      60% {
        border: 3px solid var(--yellow);
      }
       80% {
        border: 3px solid var(--green);
      } 
      100% {
        border: 3px solid var(--primary);
      }
       
    }
    
    .search-sound-selector{
        cursor: pointer;
        box-shadow: 0px 0px 10px 2px var(--led-blue);
        text-transform: uppercase;
         font-weight: bold;
         background: var(--led-ligth-blue);
         /* font-size: 1rem; */
         font-size: 1.2rem;
        border-radius:5px;
        font-family: var(--logo-font);
         padding: 0.3rem 0.5rem;
         border: none;
         transition: 0.4s all;
         outline: none;
    }
    
    
    
    
    
    
    :root {
      --primary: #22D2A0;
      --secondary: #192824;
      --background: #192824;
      --green: #1FC11B;
      --yellow: #FFD913;
      --orange: #FF9C55;
      --red: #FF5555;
      --primary-font: 'Kanit', sans-serif;
    } 
  
    
    .search-sound-container-p {
      font-size: 1rem;
     font-family:  var(--logo-font);
      letter-spacing: 0.5px;
      margin-bottom: 10px;
    }
    
    .search-sound-container-h2 {
      text-shadow: 0px 0px 20px var(--led-red);
        text-align: center;
        color:var(--red);
        font-size: 3rem;
        font-family:  var(--logo-font);
    }
    .search-sound-container-h3 {
      /* text-transform: uppercase; */
      font-size: 1.25rem;
     font-family:  var(--logo-font);
      color: white;
      text-shadow: 0px 0px 10px var(--led-green);
      /* font-weight: bold; */
    }
    
  
    .search-sound-container .search-sound-input{
      cursor: pointer;
     font-family:  var(--logo-font);
      color: #333;
      font-size: 1.1rem;
        margin: 0 auto;
      padding: 0.1rem 0.3rem;
      border-radius: 0.2rem;
      background-color: rgb(255, 255, 255);
      border: none;
      /* width: 50%; */
      display: block;
      border-bottom: 0.3rem solid transparent;
      transition: all 0.3s;
    }
    .search-sound-container .selector{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
  
    .search-sound-container-label{
        font-size: 1.25rem;
        margin-bottom: 5px;
    }
    #upload-sound {
      cursor: pointer;
      color: #22D2A0;
      width: 50%;
      font-size: 1.2rem;
    }
  
    .search-sound-button{
      box-shadow: 0px 0px 10px 2px var(--led-blue);
      text-transform: uppercase;
       font-weight: bold;
       background: var(--led-ligth-blue);
       /* font-size: 1rem; */
       font-size: 1rem;
      border-radius:5px;
      font-family: var(--logo-font);
       padding: 0.3rem 0.5rem;
       border: none;
       transition: 0.4s all;
       margin-left: 1rem;
  }
  
  .search-sound-button:hover{
   box-shadow: 0px 0px 10px 2px var(--led-ligth-blue);
   background: var(--led-ligth-blue);
  }
  .search-sound-button:active{
   box-shadow: 0px 0px 20px 2px var(--led-ligth-blue);
   background: #b5fdff;
  }
  
  .search-sound-button-div{
    display: flex;
    justify-content: space-between;
  }
  
  .search-sound-exit{
    position: absolute;
    top: 10px;
    left:10px;
    /* border: 2px solid var(--primary); */
    color: #192824;
    /* margin-bottom: -10; */
    /* padding: 0.1rem; */
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 2px var(--led-blue);
    text-transform: uppercase;
     font-weight: bold;
     background: var(--led-ligth-blue);
  }
  
  .search-sound-exit:hover{
    box-shadow: 0px 0px 10px 2px var(--led-ligth-blue);
    background: var(--led-ligth-blue);
  }
  .search-sound-exit:active{
    box-shadow: 0px 0px 20px 2px var(--led-ligth-blue);
    background: #b5fdff;
  }
  
  .search-sound-results{
      height: 50%;
      /* background: red; */
      width: 100%;
      overflow-y: auto;
      border:1px solid var(--primary);
      box-shadow: 0px 0px 5px 0px inset var(--primary);
      border-radius:5px;
      padding: 0.5rem;
  }
  
  .search-sound-result-container{
      display: flex;
      align-items: center;
      margin-right: 0.5rem;
  }

  .search-sound-file-sound{
      width: 100%;
    transition: 0.4s all;
    cursor: pointer;
    max-width: 100%;
    margin: 0.5rem 0.3rem;
    box-shadow: 0px 0px 4px inset var(--led-ligth-blue);
    font-weight:500;
    font-family: var(--logo-font);
    padding: 0.2rem 0 0 0.7rem;
    text-shadow: 0px 0px 1px var(--led-purpule);
    background: none;
    border-radius:5px;
    font-size: 1.3rem;
    color: var(--led-ligth-blue);
}

.search-sound-file-sound span{
    /* color: var(--led-purpule); */
    
    font-family: var(--logo-font);
    font-size: 0.9rem;
    padding: 0 0 0.4rem  0;
}

.search-sound-file-sound:hover{
    box-shadow: 0px 0px 6px inset var(--led-ligth-blue);
    /* background: var(--led-ligth-blue); */
   }
.search-sound-file-sound-selected{
    background:var(--led-ligth-blue);
    box-shadow: 0px 0px 4px inset var(--led-blue);
    color: black;
}
.search-sound-file-sound-selected:hover{
    box-shadow: 0px 0px 6px inset var(--led-blue);
}
.search-sound-file-sound-selected span{
    /* z-index: -1; */
    text-shadow: 0px 0px 1px black;
    color: rgba(0, 0, 0, 0.486);
}


.search-sound-loading-on-page{
    z-index: 150;
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background:rgba(0, 0, 0, 0.09);
    top: 0;
    left: 0;
}

    @media (max-width: 600px){
.search-sound-results{
    width: 100%;
}
.search-sound-file-sound{
    font-size: 1rem;
}
.search-sound-file-sound span{
    font-size: 0.7rem;
}

        .search-sound-selector{
            font-size: 0.9rem;
        }
      .search-sound-container{
          width: 80%;
          height: 80vh;
          padding: 1rem ;
      }
      .search-sound-container-p {
          font-size: 1rem;
             font-family:  var(--logo-font);
          letter-spacing: 0.5px;
          margin-bottom: 10px;
        }
        
        .search-sound-container-h2 {
          text-transform: uppercase;
          font-size: 1.2rem;
             font-family:  var(--logo-font);
          font-weight: bold;
          margin: 0.2rem 0;
        }
        .search-sound-container-h3 {
          /* text-transform: uppercase; */
          margin: 0.2rem 0;
          font-size: 1rem;
             font-family:  var(--logo-font);
        }
        .search-sound-container .selector{
          width: 100%;
       flex-direction: column;
          justify-content: space-between;
        }
        .search-sound-container .selector .search-sound-input{
          width: 70%;
          
        }
        .search-sound-button-div{
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
        }
        .search-sound-button{
          margin-top:  1rem;
          margin: 1rem  1rem 0 1rem;
        }
        .search-sound-button div{
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-between;
        }
      }
      @media (max-height: 500px){
        .search-sound-file-sound{
            font-size: 0.9rem;
            font-weight: 500;
        }
        .search-sound-file-sound span{
            font-size: 0.7rem;
            font-weight: 500;
        }
        .search-sound-selector{
            font-size: 0.9rem;
        }
        .search-sound-container{
          width: 80%;
          height: 95vh;
        }
        .search-sound-container-p {
          font-size: 0.8rem;
          font-family:  var(--logo-font);
          letter-spacing: 0.5px;
          margin-bottom: 10px;
          padding: 0;
          margin: 0;
        }
        
        .search-sound-container-h2 {
          text-transform: uppercase;
          font-size: 1.2rem;
          font-family:  var(--logo-font);
          font-weight: bold;
          padding: 0;
          margin: 0;
  
        }
        .search-sound-container-h3 {
          text-transform: uppercase;
          font-size: 1.1rem;
              font-family:  var(--logo-font);;
            }
            
            .search-sound-container .selector .search-sound-input{
              width: 70%;
              /* padding: 0;
              margin: 0; */
            }
            .search-sound-button-div{
              flex-direction: row;
              margin: 0.4rem 0;
              align-items: center;
              justify-content: space-between;
            }
            /* .search-sound-button{
        margin-top:  1rem;
        margin: 1rem  1rem 0 1rem;
      } */
      .search-sound-button div{
          display: inherit;
    /* justify-content: space-between; */
      }
      .search-sound-br{
        display: none;
      }
    }